<html>

<body>
<h2>Bienvenido a mifactura.ec!</h2>h2>

<p>Para terminar el proceso del registro por favor sigue el siguiente vinculo:</p>

<p><a href="<%=@host%>/activate/<%=@user.id%>/<%=@unlockcode%>">Desbloquear acceso</a></p>

<p>Gracias por su confianza en mifactura.</p>

<p>Que tenga muy buena tarde</p>
<p> - El equipo de mifactura</p>

</body>
</html>