<div class="row">
    <div class="col-md-12">
        <img src="<%= image_url "integracion.jpg" %>" alt="" />
        <h3>Integraci贸n</h3>
        <p>El portal mifactura.ec puede ser integrado con cualquier sistema de facturacion, incluso al sistema de facturacion del Servicio de rentas internas. La integracion es tan sencilla que el portal de su compania puede estar implementado sin ayuda de ningun progaramador</p>
        <p>Portal mifactura.ec tiene el mismo API que el Servivio de rentas internas. Eso significa que si usted ya tiene una herramienta de facturacion, solo cambiando la direccion de envio de facturas estara integrado con el portal.</p>
        <p>Portal mifactura.ec recibira sus comprobantes emitidos y los reinviara al SRI para obtener la autorizacion del SRI y devolvera la respuesta a su sistema de facturacion. Una vez que el comprobante esta aprobado aparecera en el portal para su cliente. El cliente puede ser notificado con un correo de confirmacion </p>
        <P></P>

        <h4>API</h4>
        <p> Para obtener la documentaci贸n del API por favor envie el correo con solicitud al soporte@mifactura.ec </p>

        <h3>Precios</h3>
        <p>Planes de emisi贸n de comprobantes electr贸nicos</p>
        <table class="table table-condensed table-hover col-lg-6 col-md-6">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Doc. incluidos</th>
                <th>Valor mensual</th>
                <th>Costo doc. adicional</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Plan 18</td>
                <td>300</td>
                <td>18</td>
                <td>0.06</td>
            </tr>
            <tr>
                <td>Plan 40</td>
                <td>1000</td>
                <td>40</td>
                <td>0.04</td>
            </tr>
            <tr>
                <td>Plan 100</td>
                <td>3000</td>
                <td>100</td>
                <td>0.033</td>
            </tr>
            <tr>
                <td>Plan 200</td>
                <td>10000</td>
                <td>200</td>
                <td>0.015</td>
            </tr>
            <tr>
                <td>Plan 500</td>
                <td>50000</td>
                <td>500</td>
                <td>0.01</td>
            </tr>

          </tbody>
        </table>
  </div>
</div>