<h3>Cómo funciona? (FAQ)</h3>
<p>&nbsp;</p>
<h4>Cómo registrarse en el sistema?</h4>

<p>Para poder registrarse hay que tener al menos una factura electrónica emitida a su nombre. Siga los siguientes pasos:</p>
<ul>
  <li>Consulte su factura en el portal, utilizando la opción consultar por clave o cargando el archivo XML. El portal averiguará la validez del comprobante y le mostrará el detalle de la factura consultada.</li>
  <li>En la parte de abajo de la factura ingrese su correo electrónico y la clave para ingresar al portal.</li>
  <li>El portal le enviará un correo de confirmación para validar su dirección de correo. Siga el vinculo en el correo para terminar el registro.</li>
</ul>
<p>Listo. Usted es usuario del portal mifactura.ec</p>

<h4>Cómo agregar facturas de otros proveedores?</h4>

<p>Si usted consulta una factura a través de clave de acceso o sube un archivo, ese automáticamente se agrega a su cuenta y aparecerá en la lista de sus facturas recibidas.</p>

<h4>Cómo puedo recibir mis facturas directo en el portal sin subirlos?</h4>

<p>Hay 2 opciones: primero, puede pedir a su proveedor que utilice el portal como el medio de entrega de facturas electrónicas. Segundo, puede enviar sus facturas directamente al portal mifactura.ec</p>
<p>Para enviar facturas al portal puede proveer como su correo para facturación electrónica la dirección de correo sunombre@mifactura.ec, por ejemplo, jose@mifactura.ec o granexito@mifactura.ec. Todos los documentos electrónicos enviados a este correo aparecerán  automáticamente en la lista de sus documentos recibidos.</p>

<h4>Por cuanto tiempo se guardan los documentos?</h4>

<p>Según la ley hay que guardar los documentos por 7 años. Les ofrecemos 7 años.</p>