/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	right:50%;
	bottom:90px;
	overflow:hidden;
	width:58px;
	height:58px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background: url(../images/ui.totop.png) no-repeat 0 0;
}

#toTop:hover {
	background:url(../images/ui.totop.png) no-repeat 0 -58px;
}

#toTop:active, #toTop:focus {
	outline:none;
}